<html>
    <head>
        <nav>
            <a href="/" >Home</a>
            <a href="/books" >Books</a>
            <a href="/films" >Films</a>
            <a href="/users/new" >Create Account</a>
            <a href="/sessions/new">Login</a>
        </nav>

        <title>Film Store</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <main>
            <h1>My Films</h1>
            <!-- <div class="films-container" >
                {% for film in films %}
                <div class= "films">
                    <h3> {{ film.title }}</h3> <p> Genre: {{ film.genre }}</p>
                </div> 
                {% endfor %}
            </div> -->

            <div class="thumbnail-grid">
                    {% for film in films %}
                    <div class= "film-thumbnail">

                        <img src = "{{ film.image_url if film.image_url else 'https://via.placeholder.com/300x200' }}" alt = "{{ film.title }}">

                        <div class="films">
                            <h3> {{ film.title }} </h3>
                            <p> Genre: {{ film.genre }}</p>
                        </div>
                        <form class="delete" action="/films/delete/{{ film.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete {{ film.title }}?');">
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                        <form class="update" action="/films/update/{{ film.id }}" method="GET">
                            <button type="submit" class="update">Update</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>

            <form class="film-form" method="POST" action="/films">
                    <h3>Add a new film</h3>
                    <input type="text" name="title" placeholder="Title *" required>
                    <input type="text" name="genre" placeholder="Genre *" required>
                    <input type="text" name="image_url" placeholder="Image URL (optional)">
                    <input type="submit" value="Submit">
                    <p>*Required</p>
                </form>
        </main>
    </body>
</html>