<html>
    <head>
        <nav>
            <a href="/" >Home</a>
            <a href="/books" >Books</a>
            <a href="/films" >Films</a>
            <a href="/users/new" >Create Account</a>
            <a href="/sessions/new">Login</a>
        </nav>

        <title>Book Store</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <main>
            <h1>My Books</h1>
                
                <div class="thumbnail-grid">
                    {% for book in books %}
                    <div class= "book-thumbnail">

                        <img src = "{{ book.image_url if book.image_url else 'https://via.placeholder.com/300x200' }}" alt = "{{ book.title }}">

                        <div class="caption">
                            <h3> {{ book.title }} </h3>
                            <p> By {{ book.author }}</p>
                        </div>
                        <form class="delete" action="/books/delete/{{ book.id }}" method="POST">
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                        <form class="update" action="/books/update/{{ book.id }}" method="UPDATE">
                            <button type="submit" class="update">Update Book</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>

                <form class="book-form" method="POST" action="/books">
                    <h3>Add a new book</h3>
                    <input type="text" name="title" placeholder="Title *" required>
                    <input type="text" name="author" placeholder="Author *" required>
                    <input type="text" name="image_url" placeholder="Image URL (optional)">
                    <input type="submit" value="Submit">
                    <p>*Required</p>
                </form>
        </main>
    </body>
</html>

