<html> 
    <head>

        <a href="/books" >Books</a>
        <a href="/films" >Films</a>
        <a href="/users/new" >Create Account</a>

        <title>Home</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <main>
            <h1>Welcome to AceReads</h1>
            <p>This is a paragraph test</p>
            <ol>
                <li>one</li>
                <li>two</li>
            </ol>
            <ul>
                <li>test bullet point</li>
            </ul>
        </main>
    </body>
</html>
